h1 {
    color: red;
    text-align: center;
}

h3 {
    color: blue;
}

button {
    font-size: medium;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    background-color: yellow;
}

.food-image {
    display: block;
    width: 250px;
    margin: auto;
    border-style: double;
    border-width: 4px;
    border-color: black;
  }

  * {
    font-family: Arial, Helvetica, sans-serif;
  }

.top-page a:hover {
    background-color: rgb(66 28 40);
    color: #fff
  }